@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_fonts";
@import "./_variables";
@import "./_icones";

body{
    font-family: "poppins";
}

.nav-item{
    margin: 0 20px;
}

#slider{
    height: 500px;
}

#sale {
    background-color: red;
    color: white;
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 150px;
}